@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.contact-sidebar-container {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.aside-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #1d1f1f;
    color: #aba8a8;
}

.aside-header-upper-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.aside-header-upper-icons svg:hover{
    background-color: #6d6a6a;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.aside-header-lower-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.aside-header-lower-icons svg:hover{
    background-color: #6d6a6a;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.my-profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.upper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 100px;
    color: white;
}

.whatsapp-icon {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-icons svg:hover {
    background-color: #6d6a6a;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #2e2f2f;
    padding: 10px 60px 10px 20px;
    border-radius: 100px;
    font-size: 14px;
    color: #aba8a8;
}

.chat-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #aba8a8;
}

.filter {
    padding: 10px 20px;
    border: #242525 solid;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 800;
}

.filter:hover {
    background-color: #2e2f2f;
    transition: background-color 0.3s ease;
}

.contact-sidebar {
    display: flex;
    flex-direction: column;
    padding: 6px 16px;
    min-width: 350px;
}

.whatsapp-icon svg {
    height: 35px;
    width: auto;
}

@media (max-width: 750px) {
    .contact-sidebar {
        min-width: 0;
        width: 100%;
        padding: 5px;
    }

    .aside-header {
        display: none;
    }

    .contact-sidebar-container {
        width: 100%;
    }

    .chat-filters {
        overflow-x: visible;
        flex-wrap: wrap;
        gap: 8px;
        padding: 8px;
    }

    .filter {
        padding: 8px 16px;
        font-size: 10px;
    }
}