.new-message-container {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    z-index: 100;
}

.action-icon {
    color: #8696a0;
}

.send-icon {
    color: white;
}

.action-icon, .send-icon {
    cursor: pointer;
}

.form-new-message {
    width: 100%;
    display: flex;
    align-items: center;
}

.message-input {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px 12px;
    font-size: 15px;
    background-color: #2e2f2f;
    color: #d1d7db;
    outline: none;
    height: 40px;
    line-height: 20px;
}
