*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;


html, body{
  height: 100%;
  margin: 0;
  background-color: #161717;
}


}