.messages-list-container {
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
    background-image: url(https://i.pinimg.com/736x/2b/60/94/2b609488b4711e06e40a213e24e55d77.jpg);
    background-size: contain;
}

.message-row {
    display: flex;
    width: 100%;
    margin-bottom: 2px;
    padding: 0 10px;
}

.message-row.sent {
    justify-content: flex-end;
}

.message-row.received {
    justify-content: flex-start;
}

.message-bubble {
    padding: 6px 7px 8px 9px;
    border-radius: 7px;
    font-size: 14px;
    line-height: 20px;
    color: #e9edef;
    position: relative;
    width: fit-content;
    max-width: 100%;
    overflow-wrap: break-word;
}

.message-row.sent .message-bubble {
    background-color: #005c4b;
    border-top-right-radius: 0;
    margin-right: 8px;
}

.message-row.received .message-bubble {
    background-color: #202c33;
    border-top-left-radius: 0;
    margin-left: 8px;
}

.message-row.sent .message-bubble::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #005c4b;
    border-left: none;
    border-right: 10px solid transparent;
}

.message-row.received .message-bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #202c33;
    border-left: 10px solid transparent;
}

.message-content-wrapper {
    display: block;
}

.message-text {
    display: inline;
}

.message-meta {
    float: right;
    margin-top: 4px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    gap: 3px;
    height: 15px;
    font-size: 11px;
    color: rgba(233, 237, 239, 0.6);
    position: relative;
    top: 4px;
}

.message-meta svg {
    color: #53bdeb;
}

