.contact-list-container {
    background-color: #161717;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}


.contact-list-container::-webkit-scrollbar {
    width: 6px;

}

.contact-list-container::-webkit-scrollbar-track {
    background: transparent;
}

.contact-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(134, 150, 160, 0.3);
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    height: 72px;
    /* Fixed height per item */
    cursor: pointer;
    background-color:#161717;
    border-bottom: 1px solid #202c33;
    flex-shrink: 0;
    /* Prevent shrinking */
}

.contact-item:hover {
    background-color: #202c33;
    transition: background-color 0.2s;
}

.avatar-container {
    padding-right: 15px;
}

.contact-avatar {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #202c33;
    padding-right: 15px;
    min-width: 0;
    width: 100%;
}


.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 3px;
    gap: 10px;
}

.contact-name {
    font-size: 17px;
    font-weight: 400;
    color: #e9edef;
}

.last-message-time {
    font-size: 12px;
    color: #8696a0;
}

.contact-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-message-content {
    font-size: 14px;
    color: #8696a0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.message-status-icon {
    margin-right: 3px;
    color: #53bdeb;
    font-size: 14px;
    font-weight: bold;
}

.unseen-badge {
    background-color: #00a884;
    color: #111b21;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    padding: 0 4px;
}