.contact-list-container {
    background-color: #161717;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color:  #2e2f2f transparent;
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    height: 80px;
    cursor: pointer;
    background-color: #161717;
    border-bottom: 1px solid #202c33;
    flex-shrink: 0;
}

.contact-item:hover {
    background-color: #202c33;
    transition: background-color 0.2s;
}

.avatar-container {
    padding-right: 15px;
}

.contact-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #202c33;
    width: 100%;
}

.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
    gap: 10px;
}

.contact-name {
    font-size: 18px;
    font-weight: 400;
    color: #e9edef;
}

.last-message-time {
    font-size: 12px;
    color: #8696a0;
}

.contact-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-message-content {
    font-size: 14px;
    color: #8696a0;
    display: flex;
    align-items: center;
}

.message-status-icon {
    margin-right: 5px;
    color: #53bdeb;
    font-size: 14px;
    font-weight: bold;
}

.unseen-badge {
    background-color: #21c063;
    color: #111b21;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}